
h1 {
    color:#333333;
}
h2 {
    color:#333333;
}
h4 {
    color:#333333;
}
h5 {
    color:#333333;
}
.text-justify {
    text-align: justify;
}
.map-format {
    width: 90vw;
    margin-right: 5vw;
    height: 88vh;
    margin-left: 5vw;
}
body {
    padding-bottom: 30px;
}
  
.img-wrapper {
    position: relative;
}
  
.img-responsive {
    width: 100%;
    height: auto;
}
  
.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
  
.img-overlay:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 50%;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}